<div class="container pt-5 mt-4">

    <!-- Botón para mostrar el carrito -->
    <button class="btn btn-success position-fixed top-0 end-0 m-4 shadow animate__animated" [class.animate__bounce]="animandoCarrito"
        style="z-index: 1080;" data-bs-toggle="modal" data-bs-target="#carritoModal">
        <i class="bi bi-cart"></i> ({{ carrito.length }})
    </button>

    <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let producto of productos">
            <div class="card">
                <img [src]="producto.img" class="h-50 w-75" [alt]="producto.nombre" style="margin: 0 auto;">
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text mb-0">{{ producto.descripcion }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="card-text fs-3 m-2">${{ producto.precio }}</p>
                        <button class="btn btn-primary" (click)="agregarAlCarrito(producto)"
                            [disabled]="carrito.includes(producto)">
                            Agregar al carrito
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Bootstrap -->
    <div class="modal fade" id="carritoModal" tabindex="-1" aria-labelledby="carritoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="carritoModalLabel">Carrito de Compras</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group mb-3" *ngIf="carrito.length > 0; else vacio">
                        <li class="list-group-item d-flex justify-content-between align-items-center"
                            *ngFor="let prod of carrito">
                            <img [src]="prod.img" [alt]="prod.nombre" style="max-width: 50px; min-width: 50px">
                            {{ prod.nombre }}
                            <span>${{ prod.precio }}</span>
                        </li>
                    </ul>
                    <ng-template #vacio>
                        <p>No hay productos en el carrito.</p>
                    </ng-template>
                    <div class="text-end">
                        <strong>Total: ${{ total }}</strong>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" [disabled]="carrito.length === 0">Check Out</button>
                </div>
            </div>
        </div>
    </div>
</div>