<div class="container pt-5 mt-4" style="height: 90vh;">
    <div class="row">
        <h1 class="text-center pt-5">Bienvenido al ahorcado</h1>
        <h3 class="text-center">Elige una categoria</h3>
        <div class="col-12 col-md-8 row pt-4" style="margin:0 auto">
            <div class="col-12 col-md-6 pb-2">
                <button class="btn btn-primary" routerLink="/punto3/animales">Animales</button>
            </div>
            <div class="col-12 col-md-6 pb-2">
                <button class="btn btn-primary" routerLink="/punto3/jugadores-argentinos">Jugadores Argentinos</button>
            </div>
            <div class="col-12 col-md-6 pb-2">
                <button class="btn btn-primary" routerLink="/punto3/actores-argentinos">Actores Argentinos</button>
            </div>
            <div class="col-12 col-md-6 pb-2">
                <button class="btn btn-primary" routerLink="/punto3/cantantes-argentinos">Cantantes Argentinos</button>
            </div>
            <div class="col-12 col-md-6 pb-2">
                <button class="btn btn-primary" routerLink="/punto3/provincias-argentina">Provincias Argentinas</button>
            </div>
            <div class="col-12 col-md-6 pb-2">
                <button class="btn btn-primary" routerLink="/punto3/paises">Paises</button>
            </div>
        </div>
    </div>   
</div>